body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td {
  margin: 0;
  padding: 0; }

body, button, input, select, textarea {
  font: 12px/1.5tahoma, arial, \5b8b\4f53; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

address, cite, dfn, em, var {
  font-style: normal; }

code, kbd, pre, samp {
  font-family: couriernew, courier, monospace; }

small {
  font-size: 12px; }

ul, ol {
  list-style: none; }

a {
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

sup {
  vertical-align: text-top; }

sub {
  vertical-align: text-bottom; }

legend {
  color: #000; }

fieldset, img {
  border: 0; }

button, input, select, textarea {
  font-size: 100%; }

body {
  background: #f4f4f4; }

#header {
  width: 100%;
  height: 36px;
  font-size: 12px;
  line-height: 36px;
  background: #f5f5f5; }
  #header .h_nav {
    width: 1190px;
    margin: 0 auto; }
    #header .h_nav .icon-guifandaohangshaixuanzhankai {
      font-size: 4px;
      color: #a7a8a6;
      position: absolute;
      left: 60px;
      top: 0px; }
    #header .h_nav a {
      color: #6c6c6c;
      text-decoration: none; }

#header .h_nav a:hover {
  color: red; }

#header .red a {
  color: red; }

.h_nav_left {
  float: left;
  position: relative; }
  .h_nav_left li {
    float: left;
    padding: 0 10px; }

#header .h_nav_right {
  float: right; }
  #header .h_nav_right li {
    float: left;
    position: relative;
    width: 75px;
    padding-right: 15px;
    position: relative; }
    #header .h_nav_right li a {
      display: block;
      text-align: center; }
      #header .h_nav_right li a .icon-gouwucheman, #header .h_nav_right li a .icon-xingxing, #header .h_nav_right li a .icon-daohang {
        font-size: 4px;
        color: red;
        position: absolute;
        left: 5px;
        top: 0px; }
      #header .h_nav_right li a .icon-xingxing {
        color: #9c9c9c; }
      #header .h_nav_right li a .icon-daohang {
        left: 0px; }
      #header .h_nav_right li a .icon-guifandaohangshaixuanzhankai {
        font-size: 2px;
        color: #a7a8a6;
        position: absolute;
        right: 10px;
        top: 0px; }

#header .h_nav_right a:hover .icon-xingxing {
  color: red; }

#header .h_nav_right .icon-0 {
  font-size: 16px;
  font-weight: bolder;
  color: red;
  position: absolute;
  right: 20px;
  top: 0px; }

#header .h_nav_right li {
  cursor: pointer; }

.h_nav_right .myself {
  border: 1px solid #ebebeb;
  border-top: 0;
  position: absolute;
  display: none;
  left: -1px;
  top: 36px;
  z-index: 10;
  background: #fff; }
  .h_nav_right .myself li {
    font-size: 12px;
    text-align: left;
    padding-left: 15px; }

.h_nav_right li:hover .myself {
  display: block; }

.h_nav_right > li:hover {
  background: #fff; }

.h_nav_right > li li:hover {
  background: #f5f5f5; }

#header .h_nav_right .collect {
  position: absolute;
  display: none;
  left: -1px;
  top: 36px;
  background: #fff;
  border: 1px solid #ebebeb;
  border-top: 0;
  z-index: 10; }
  #header .h_nav_right .collect li {
    font-size: 12px;
    text-align: center;
    width: 67px;
    padding-left: 5px; }

#header .h_nav_right li:hover .collect {
  display: block; }

.h_nav_right > li:hover {
  background: #fff; }

.h_nav_right > li li:hover {
  background: #f5f5f5; }

#header .h_nav_right .shopcenter {
  position: absolute;
  display: none;
  left: -1px;
  top: 36px;
  background: #fff;
  border: 1px solid #ebebeb;
  border-top: 0;
  z-index: 10; }
  #header .h_nav_right .shopcenter li {
    font-size: 12px;
    text-align: left;
    width: 72px;
    padding-left: 15px; }

#header .h_nav_right li:hover .shopcenter {
  display: block; }

.h_nav_right > li:hover {
  background: #fff; }

.h_nav_right > li li:hover {
  background: #f5f5f5; }

#header .h_nav_right .customer {
  position: absolute;
  display: none;
  left: -1px;
  top: 36px;
  border: 1px solid #ebebeb;
  border-top: 0;
  background: #fff;
  z-index: 10; }
  #header .h_nav_right .customer li {
    font-size: 12px;
    text-align: left;
    width: 60px;
    padding-left: 15px; }

#header .h_nav_right li:hover .customer {
  display: block; }

.h_nav_right > li:hover {
  background: #fff; }

.h_nav_right > li li:hover {
  background: #f5f5f5; }

#header .theme {
  width: 280px;
  position: absolute;
  left: -195px;
  top: 36px;
  border: 1px solid #ebebeb;
  border-top: 0;
  padding-left: 5px;
  padding-bottom: 10px;
  background: #fff;
  display: none;
  z-index: 10; }
  #header .theme h2 {
    color: red;
    margin-left: 5px; }
  #header .theme li {
    width: 40px;
    text-align: center;
    padding-right: 0;
    margin-right: 30px; }

#header .h_nav_right .theme li:hover {
  background: darkred;
  color: #fff; }

#header .h_nav_right li:hover .theme {
  display: block; }

.container {
  width: 100%;
  background: url("../img/TB1JxVSs4GYBuNjy0FnXXX5lpXa-360-795.png") repeat-x; }
  .container .wrapper {
    width: 1190px;
    margin: 0 auto;
    background: #f4f4f4; }

.footer {
  cursor: pointer; }

#search {
  height: 140px;
  background: #fff;
  position: relative; }
  #search .sea_logo {
    float: left;
    width: 190px;
    height: 140px;
    background: url("../img/TB1aal9sH9YBuNjy0FgXXcxcXXa-190-140.gif"); }
  #search .sea_mid {
    margin-top: 43px;
    margin-left: 65px;
    float: left; }
    #search .sea_mid .sea_top {
      margin-left: 17px;
      height: 22px; }
      #search .sea_mid .sea_top .bg-color {
        background: #ff6f00;
        border-radius: 10px 10px 0 0/10px 10px 0 0;
        color: #fff; }
      #search .sea_mid .sea_top li {
        float: left;
        width: 36px;
        height: 22px;
        color: #ff4400;
        font-size: 12px;
        margin-right: 5px;
        text-align: center;
        line-height: 22px;
        cursor: pointer; }
  #search .sea_right {
    float: right; }

#search .sea_mid .sea_top li:hover {
  background: #f5baba; }

#search .searchBox {
  width: 556px;
  height: 40px;
  border: 2px solid #ff5000;
  border-right: 0;
  border-radius: 20px 0 0 20px/20px 0 0 20px;
  position: relative; }
  #search .searchBox .icon-sousuo, #search .searchBox .icon-05 {
    font-size: 20px;
    position: absolute;
    width: 20px;
    height: 20px;
    color: #9c9c9c;
    left: 10px;
    top: 10px; }
  #search .searchBox .icon-05 {
    left: 520px;
    cursor: pointer; }
  #search .searchBox input {
    width: 545px;
    height: 36px;
    outline: none;
    border: 0;
    font-size: 12px;
    display: inline-block;
    margin-left: 10px;
    margin-top: 2px;
    padding-left: 20px;
    box-sizing: border-box; }
  #search .searchBox button {
    display: block;
    width: 74px;
    height: 44px;
    background: #ff8200;
    border: 0;
    left: 556px;
    top: -2px;
    border-radius: 0 20px 20px 0/0 20px 20px 0;
    position: absolute;
    font-size: 18px;
    font-weight: bolder;
    color: #fff;
    cursor: pointer; }

#search .sea_bot {
  width: 589px;
  height: 18px;
  position: relative; }
  #search .sea_bot a {
    display: inline-block;
    margin-right: 4px;
    color: #666;
    font-size: 10px;
    line-height: 18px;
    text-decoration: none; }
  #search .sea_bot .special {
    height: 19px;
    position: absolute;
    left: 570px;
    top: 3px;
    white-space: nowrap; }

#search .sea_bot a:hover {
  color: red; }

#search .sea_right {
  width: 74px;
  height: 88px;
  position: absolute;
  border: 1px solid #eeeeee;
  cursor: pointer;
  right: 110px;
  top: 43px; }
  #search .sea_right div {
    width: 62px;
    height: 62px;
    margin-left: 6px; }
    #search .sea_right div img {
      width: 100%; }
  #search .sea_right p {
    margin-top: 5px;
    text-align: center;
    font-size: 12px; }

#nav {
  width: 100%;
  height: 30px;
  background: #ff5000; }
  #nav h2 {
    width: 190px;
    text-align: center;
    line-height: 30px;
    float: left; }
  #nav ul {
    float: left; }
    #nav ul li {
      float: left;
      padding: 0 4px; }
      #nav ul li a {
        text-decoration: none;
        color: #fff;
        padding: 5px;
        line-height: 30px;
        font-weight: bolder; }
  #nav .nav_left {
    height: 30px;
    background: url("../img/TB1dMWlsL1TBuNjy0FjXXajyXXa-205-30.png"); }
  #nav .nav_right:before, #nav .nav_mid:before {
    content: '';
    display: block;
    width: 2px;
    height: 20px;
    background: #fff;
    position: absolute;
    left: 10px;
    top: 5px; }
  #nav .nav_mid, #nav .nav_right {
    background: #ff7500;
    position: relative;
    padding-left: 20px; }
  #nav div {
    width: 90px;
    height: 30px;
    float: left; }

#menu {
  float: left; }
  #menu ul {
    width: 190px;
    height: 513px;
    border: 1px solid #ff5000;
    font-size: 14px;
    background: #fff;
    padding-top: 5px;
    padding-bottom: 3px; }
    #menu ul a {
      color: #666666; }
    #menu ul li {
      height: 32px;
      line-height: 32px;
      padding-left: 25px;
      padding-right: 10px;
      position: relative; }
      #menu ul li .iconfont {
        width: 10px;
        height: 10px;
        font-size: 10px;
        position: absolute;
        right: 13px; }
    #menu ul li:hover a {
      color: red; }
    #menu ul li:hover {
      background: #f29d9d; }
    #menu ul li:hover .iconfont {
      color: red; }

#slideShow {
  width: 520px;
  height: 510px;
  margin: 10px;
  float: left; }
  #slideShow ul {
    height: 280px; }
  #slideShow .inner {
    margin-top: 10px;
    position: relative;
    margin-bottom: -3px; }
  #slideShow .inner span {
    display: block;
    width: 136px;
    height: 19px;
    background: url("../img/tmlogo.png") no-repeat;
    float: left; }
  #slideShow em {
    font-size: 12px;
    line-height: 19px;
    margin-left: 10px;
    font-style: normal; }
  #slideShow strong {
    position: absolute;
    right: 0;
    top: 0;
    font-weight: normal; }

#slideShow .slide_bottom {
  width: 520px;
  height: 200px;
  border-top: 2px solid red;
  background: #fff; }
  #slideShow .slide_bottom div {
    margin-top: 22px;
    margin-left: 5px; }
    #slideShow .slide_bottom div img {
      display: inline-block;
      width: 250px;
      height: 155px;
      margin-right: 5px; }

.hot {
  width: 160px;
  height: 510px;
  margin-top: 10px;
  float: left; }
  .hot .hot_bottom {
    margin-top: 10px; }
    .hot .hot_bottom span {
      font-size: 12px;
      color: #a1a1a1; }

#regsiter {
  width: 288px;
  height: 642px;
  margin-top: 10px;
  float: right;
  background: #fff; }
  #regsiter .member {
    width: 288px;
    height: 91px; }
    #regsiter .member .r_m_t {
      width: 50px;
      height: 50px;
      margin-left: 120px;
      margin-top: 10px;
      border-radius: 50%;
      background: url("../img/touxiang.jpg") no-repeat; }
    #regsiter .member p {
      text-align: center;
      line-height: 17px;
      font-size: 12px; }
    #regsiter .member .r_m_b {
      margin-left: 10px;
      margin-top: 30px; }
      #regsiter .member .r_m_b a {
        display: block;
        width: 85px;
        height: 25px;
        background: #ff5601;
        border-radius: 5px;
        float: left;
        margin-right: 5px;
        text-align: center;
        line-height: 25px;
        color: #fff;
        font-weight: bolder;
        text-decoration: none; }

#regsiter .member {
  background-image: url("../img/bgggggggg.png");
  background-repeat: no-repeat;
  background-size: cover; }

#regsiter > a {
  display: block;
  width: 288px;
  height: 26px;
  background: #ffe4dd;
  margin-top: 50px;
  color: #ff4400;
  line-height: 26px;
  text-align: center;
  font-size: 12px;
  text-decoration: none; }
  #regsiter > a .icon-sanjiaoxing-right {
    font-size: 15px;
    color: red;
    margin-left: 20px; }

#regsiter .tab {
  width: 288px;
  height: 108px; }
  #regsiter .tab .tab_top {
    height: 24px;
    margin-left: 17px;
    margin-top: 17px; }
    #regsiter .tab .tab_top li {
      float: left;
      margin-right: 30px; }
      #regsiter .tab .tab_top li a {
        color: #3c3c3c;
        text-decoration: none;
        font-size: 12px;
        line-height: 24px; }
  #regsiter .tab .tab_bottom {
    height: 65px; }
    #regsiter .tab .tab_bottom a {
      display: inline-block;
      font-size: 12px;
      line-height: 32px;
      margin-left: 12px;
      color: #ff5000;
      text-decoration: none; }

#regsiter .icon li {
  width: 70px;
  height: 77px;
  background: #fff;
  border-top: 1px solid #f4f4f4;
  border-right: 1px solid #f4f4f4;
  float: left; }
  #regsiter .icon li a {
    width: 70px;
    height: 64px;
    text-align: center;
    text-decoration: none; }
    #regsiter .icon li a .iconfont {
      margin-top: 13px;
      display: inline-block;
      width: 24px;
      height: 24px;
      font-size: 24px;
      margin-left: 26px;
      margin-bottom: 8px; }
    #regsiter .icon li a p {
      color: #333333;
      font-size: 12px; }
  #regsiter .icon li a:hover p {
    color: red; }

#regsiter .icon:after {
  content: '';
  display: block;
  clear: both; }

#regsiter .app div {
  width: 290px;
  height: 30px; }
  #regsiter .app div h3 {
    line-height: 30px;
    display: inline-block;
    margin-left: 15px; }
  #regsiter .app div a {
    display: inline-block;
    margin-left: 140px;
    color: #3c3c3c;
    font-size: 12px;
    text-decoration: none; }
#regsiter .app ul {
  width: 290px;
  height: 84px; }
  #regsiter .app ul li {
    margin-left: 21px;
    float: left; }
    #regsiter .app ul li a {
      display: block;
      width: 32px;
      height: 32px;
      margin-bottom: 5px; }
      #regsiter .app ul li a img {
        display: inline-block;
        width: 100%; }

#more {
  width: 892px;
  height: 122px;
  margin-top: 10px;
  overflow: hidden;
  background: #fff; }
  #more div {
    float: left; }
    #more div h3 {
      font-size: 30px;
      font-weight: bolder;
      color: #000;
      margin-top: 25px;
      padding-left: 20px; }
    #more div p {
      padding-left: 20px;
      color: #999999;
      padding-top: 5px;
      font-size: 12px; }
  #more a {
    display: block;
    float: left;
    margin-left: 60px;
    margin-top: 20px; }
    #more a img {
      float: left; }
    #more a div {
      width: 520px;
      margin-left: 15px; }
      #more a div h4 {
        color: #333333;
        font-size: 16px;
        position: relative; }
        #more a div h4 span {
          position: absolute;
          right: -20px;
          font-size: 12px;
          color: #999999; }
      #more a div p {
        padding-left: 0;
        font-size: 14px; }

.live {
  margin-top: 10px;
  width: 1190px;
  height: 166px;
  margin-bottom: 10px; }
  .live ul {
    height: 82px;
    width: 1190px; }
    .live ul li {
      float: left;
      cursor: pointer; }

.specialHead {
  margin: 0 0 20px 20px;
  padding-top: 20px;
  height: 24px; }
  .specialHead h3 {
    position: relative;
    height: 24px; }
    .specialHead h3 span {
      font-size: 12px;
      height: 24px;
      color: #999999;
      position: absolute;
      left: 100px;
      top: 5px; }
    .specialHead h3 img {
      display: inline-block;
      width: 74px;
      height: 24px; }

.goodsShoping {
  width: 1190px;
  height: 658px;
  margin-bottom: 10px; }
  .goodsShoping .goods {
    width: 590px;
    height: 658px;
    margin-right: 10px;
    background: #fff;
    float: left; }
  .goodsShoping .shoping {
    width: 590px;
    height: 658px;
    background: #fff;
    float: left; }

.goods_bottom {
  height: 594px;
  margin-left: 20px; }
  .goods_bottom a {
    margin-bottom: 20px;
    display: block;
    float: left;
    margin-right: 5px;
    text-decoration: none;
    width: 180px;
    height: 271px;
    overflow: hidden; }
    .goods_bottom a .goods_bottom_one {
      background: #3C3C3C; }
      .goods_bottom a .goods_bottom_one img {
        opacity: 0.9;
        display: block; }
      .goods_bottom a .goods_bottom_one img:hover {
        opacity: 0.7; }
    .goods_bottom a .goods_bottom_two h3 {
      width: 170px;
      height: 28px;
      margin-top: 5px;
      margin-left: 5px;
      font-size: 16px;
      line-height: 28px;
      font-weight: normal;
      color: #3c3c3c;
      overflow: hidden; }
    .goods_bottom a .goods_bottom_two h3:hover {
      color: red; }
    .goods_bottom a .goods_bottom_two p {
      width: 170px;
      height: 24px;
      line-height: 24px;
      color: #999999;
      font-size: 14px;
      margin-left: 5px;
      overflow: hidden; }

.shoping_bottom {
  height: 594px;
  margin-left: 20px; }
  .shoping_bottom a {
    margin-bottom: 20px;
    display: block;
    float: left;
    margin-right: 5px;
    text-decoration: none;
    width: 180px;
    height: 271px;
    overflow: hidden; }
    .shoping_bottom a .goods_bottom_one {
      background: #3C3C3C; }
      .shoping_bottom a .goods_bottom_one img {
        opacity: 0.9;
        display: block; }
      .shoping_bottom a .goods_bottom_one img:hover {
        opacity: 0.7; }
    .shoping_bottom a .goods_bottom_two p {
      width: 170px;
      height: 56px;
      line-height: 28px;
      color: #999999;
      font-size: 16px;
      margin-left: 5px;
      overflow: hidden;
      margin-top: 5px; }
    .shoping_bottom a .goods_bottom_two p:hover {
      color: red; }

.runOn {
  width: 100%;
  margin-bottom: 10px;
  height: 264px;
  background: #fff; }
  .runOn a {
    display: block;
    width: 365px;
    height: 159px;
    float: left;
    margin: 0 15px; }
    .runOn a .runOn_top {
      margin-left: 20px;
      background: #3C3C3C;
      width: 180px;
      height: 180px;
      float: left; }
      .runOn a .runOn_top img {
        opacity: 0.9;
        display: block; }
      .runOn a .runOn_top img:hover {
        opacity: 0.7; }
    .runOn a .runOn_bottom {
      float: left;
      width: 161px;
      height: 159px; }
      .runOn a .runOn_bottom h4 {
        margin-top: 15px;
        width: 161px;
        font-size: 16px;
        color: #000;
        font-weight: normal;
        height: 44px;
        line-height: 22px;
        padding-left: 15px;
        margin-bottom: 15px; }
      .runOn a .runOn_bottom h4:hover {
        color: red; }
      .runOn a .runOn_bottom p {
        width: 161px;
        height: 28px;
        line-height: 28px;
        color: #999999;
        padding-left: 15px;
        font-size: 12px; }
      .runOn a .runOn_bottom span {
        display: block;
        font-size: 20px;
        color: #ff5000;
        height: 20px;
        line-height: 20px;
        margin-top: 45px;
        padding-left: 15px; }

.AD {
  margin-bottom: 10px; }

.storeDirect {
  width: 100%;
  height: 538px;
  margin-bottom: 10px; }
  .storeDirect .store {
    padding-left: 20px;
    width: 570px;
    height: 540px;
    margin-right: 10px;
    background: #fff;
    float: left; }
  .storeDirect .direct {
    width: 590px;
    height: 540px;
    background: #fff;
    float: left; }

.commonBottom:hover {
  text-decoration: none; }

.commonBottom {
  display: block;
  width: 280px;
  height: 248px;
  float: left; }
  .commonBottom h4 {
    width: 271px;
    height: 42px;
    color: #333;
    line-height: 42px;
    font-weight: normal; }
    .commonBottom h4 .title {
      font-size: 16px;
      vertical-align: top;
      color: #333;
      line-height: 42px;
      height: 42px;
      font-weight: normal; }
    .commonBottom h4 .title:hover {
      color: red; }
    .commonBottom h4 .subtitle {
      font-size: 12px;
      color: #999999;
      line-height: 42px;
      height: 42px;
      font-weight: normal; }
  .commonBottom .common_container {
    width: 271px;
    height: 180px; }
    .commonBottom .common_container .common_big {
      background: #3C3C3C;
      width: 180px;
      height: 180px;
      float: left; }
      .commonBottom .common_container .common_big img {
        opacity: 0.9;
        display: block; }
      .commonBottom .common_container .common_big img:hover {
        opacity: 0.7; }
    .commonBottom .common_container .common_small {
      width: 89px;
      height: 180px;
      float: left;
      margin-left: 2px; }
      .commonBottom .common_container .common_small div {
        width: 89px;
        height: 89px;
        background: #3C3C3C;
        margin-bottom: 2px; }
        .commonBottom .common_container .common_small div img {
          width: 89px;
          height: 89px;
          opacity: 0.9;
          display: block; }
        .commonBottom .common_container .common_small div img:hover {
          opacity: 0.7; }

.specialHeader {
  width: 590px;
  height: 49px;
  position: relative; }
  .specialHeader em {
    width: 558px;
    height: 48px;
    line-height: 48px;
    font-size: 20px;
    color: #28abff;
    margin-left: 48px; }

.specialHeader:before {
  content: '';
  position: absolute;
  width: 4px;
  height: 16px;
  top: 16px;
  left: 20px;
  background: #28abff; }

.hotOne {
  width: 100%;
  height: 962px;
  background: #fff; }
  .hotOne p {
    margin-left: 20px;
    height: 33px;
    border-bottom: 1px solid #e6e2e1; }
    .hotOne p a {
      display: inline-block;
      color: #999999;
      font-size: 12px;
      line-height: 20px;
      text-decoration: none; }
    .hotOne p a:hover {
      color: red; }

.hotOne_big {
  width: 237px;
  height: 350px;
  border: 1px solid red; }
  .hotOne_big .hotOne_top {
    margin-left: 20px;
    margin-top: 20px;
    width: 197px;
    height: 197px; }
    .hotOne_big .hotOne_top img {
      display: block;
      width: 197px;
      height: 197px; }
  .hotOne_big .hotOne_bottom {
    width: 197px;
    height: 40px;
    margin-left: 20px;
    line-height: 20px; }
    .hotOne_big .hotOne_bottom span {
      color: #666;
      font-size: 14px; }
    .hotOne_big .hotOne_bottom img {
      display: inline-block;
      width: 28px;
      height: 16px; }
  .hotOne_big em {
    display: block;
    margin-left: 20px;
    color: red;
    font-size: 22px;
    margin-top: 40px; }

.last_a {
  display: block;
  width: 237px;
  height: 345px;
  text-decoration: none;
  float: left; }

.last_a:hover {
  text-decoration: none; }

.last_images {
  float: left;
  width: 380px;
  height: 150px;
  padding-left: 15px;
  padding-top: 25px; }
  .last_images img {
    display: block;
    width: 375px;
    height: 130px; }

/*# sourceMappingURL=index.css.map */
