@import "reset";
form{
  height: 320px;
  margin-left: 400px;
  margin-top: 200px;
  p{
    margin-top: 20px;
    label{
      display: inline-block;
      font-size: 16px;
      text-align: right;
    }
    span{
      display: inline-block;
      width: 65px;
      text-align: right;
      padding-right: 15px;
    }
  }
  input{
    width: 220px;
    height: 36px;
  }
  input[type='submit']{
    width: 180px;
    height: 35px;
    background: #ff4001;
    border: 0;
    color: #fff;
    font-weight: bolder;
    margin-left: 85px;
    cursor: pointer;
  }
}

.repeat_p{
  position: relative;
  #exist_repeat{
    height: 40px;
    width: 150px;
    position: absolute;
    top: 0;
    right: 410px;
    display: none;
    line-height: 40px;
  }
}

#exist_repeat.error{
  padding-left: 16px;

  padding-bottom: 2px;

  font-weight: bold;

  color: #EA5200;
}


input.error { border: 1px solid red; }
label.error {
  background:url("./demo/images/unchecked.gif") no-repeat 0px 0px;

  padding-left: 16px;

  padding-bottom: 2px;

  font-weight: bold;

  color: #EA5200;
}
label.checked {
  background:url("./demo/images/checked.gif") no-repeat 0px 0px;
}

label.success {
  color:green;
}